div.about-content{
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // // grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    // grid-auto-rows: minmax(240px, auto);
    height: 70vh;
    max-height: 100%;
    display: flex;
    overflow-y: auto;
}

div.about-information{
    // margin: 1px solid black;
    // grid-row: span 2;
    padding: 0 20px;
    text-align: justify;
    flex: 3 1;

    p{
        margin-block-start: 0;
    }
}

div.about-photo{
    // margin: 1px solid black;
    // grid-row: span 2;
    // text-align: end;
    flex: 2 1;
    text-align: end;
    
    img{
        object-fit: cover;
        max-width:100%;
        max-height:100%;
    }
}

@media screen and (max-width: 768px){
    div.about-content{
        flex-direction: column;
    }

    div.about-information{
        order: 1;
    }

    div.about-photo{
        order: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    div.about-photo{
        flex: 3 1;
    }
}