@import './variables.scss';

div.footer-wrapper{
    display: flex;
    max-height: 15vh;
    justify-content: flex-end;
    width: 100%;
    flex: 1 1;
    padding-top: 15px;
}

div.footer-content{
    display: flex;
    flex-direction: column;
    font-family: #{$fExpletus};
    align-self: end;
    margin-bottom: 30px;
}

div.footer-content {
    
    p{
        text-align: end;
        margin: 0;
        font-size: 15px;
    }

    p.dark{
        color: #{$fwhite};
        
        span{
            color: #{$fwhite};
        }
        span.red{
            color: #{$carRed};
        }
    }

    p.light{
        color: #{$rBlack};

        span{
            color: #{$rBlack};
        }
        span.red{
            color: #{$bordeux};
        }
    }
}