@import './variables.scss';

div.footer-wrapper{
    display: flex;
    min-height: 10vh;
    justify-content: flex-end;
    width: 100%;
    flex: 1 1;
}

div.footer-content{
    display: flex;
    flex-direction: column;
    font-family: #{$fExpletus};
    align-self: end;
    margin-bottom: 30px;
}

div.footer-content p{
    text-align: end;
    margin: 0;
    font-size: 15px;
    span.bordeux{
        color: #{$bordeux};
    }
}