@import './variables';

div.item{
    opacity: 0;
    animation: show 1s linear normal forwards;
    top: -15px;
}

div.portfolio-items div.item,
div.portfolio-items div.item-info,
div.item-skeleton{
    position: relative;
    max-height: 300px;
}
div.portfolio-items div.item,
div.portfolio-items div.item-info{
    background-image: url('http://cdn.cnn.com/cnnnext/dam/assets/190430171751-mona-lisa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 8px 8px -4px #{$rBlack};
    // position: relative;
    // background-color: unset;
    // transition: 1.5s;
}
//rgb(134, 0, 41,0.8)
//rgb(236, 164, 0)
div.hover-wrapper-item{  
    position: absolute;
    background-color: rgba(0,5,5,0.8);
    opacity: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;
}

div.hover-wrapper-item.showUp{
    opacity: .8;
}

div.hover-content{
    display: flex;
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-family: #{$fBauhausRegular};
    h3{
        // left: 30%;
        transform: rotate(-45deg);
        // bottom: 50%;
        // position: absolute;
        margin:auto;
    }
}

@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top: 0px;
    }
}