@import '../styles/variables.scss';

.detail-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-height: 100%;
}


.detail-wrapper .project-desc-container{
    display: flex;
    flex-direction: column;
    flex: 6 0;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-right: 1rem;

    .project-information,
    .project-photo{
        height: auto;
        padding-left: 1rem;
    }

    .project-information{
        display: flex;
        flex-direction: row;

        .project-name,
        .description,
        .project-photo{
            display: flex;
        }

        .project-name{
            position: relative;
            height: 100px;
            img{
                position: absolute;
                left: 0;
                object-fit: contain;
                max-width:100%;
                max-height:100%;
                &.show{
                    animation: showingDown 1s linear 0s 1 normal forwards;
                }

                &.remove{
                    animation: remove 1s linear 0s 1 normal forwards;
                }
            }
        }

        .description{
            flex: 3;
            flex-direction: column;
            padding-top: 1rem;
        }

        .description > p,
        .description > article{
            text-align: justify;
            font-size: 14px;
            color: #{$textGray}
        }

        .description > p{
            font-family: #{$fBauhausRegular};
            font-size: 20px;

            &.show{
                animation: showingDown .4s linear 0s 1 normal forwards;
            }

            &.remove{
                animation: remove .4s linear 0s 1 normal forwards;
            }
        }
        
        .description > article{
            font-family: #{$fExpletus};
            font-size: 16px;

            &.show{
                animation: showingDown .7s linear 0s 1 normal forwards;
            }

            &.remove{
                animation: remove .7s linear 0s 1 normal forwards;
            }
        }

        .project-photo{
            flex: 3;
            img{
                object-fit: cover;
                max-width:100%;
                max-height:80%;
                box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .4);
                margin: 0 auto;

                &.show{
                    animation: showingDown .5s linear 0s 1 normal forwards;
                }

                &.remove{
                    animation: remove .5s linear 0s 1 normal forwards;
                }
            }
        }
    }
}

.detail-wrapper .project-stack-container,
.detail-wrapper{
    display: flex;
    flex: 1 1;
    height: 100%;
}

.detail-wrapper .project-navigation{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;

    .navigation-buttons{
        display: flex;
        width: 50%;
        justify-content: space-around;
    }
    .navigation-buttons img{
        object-fit: cover;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.5s;

        &.show{
            opacity: 0;
        }

        &[id='Before'].remove{
            animation: remove .5s linear .1s 1 normal forwards;
        }
        &[id='Play'].remove{
            animation: remove .5s linear .2s 1 normal forwards;
        }
        &[id='Next'].remove{
            animation: remove .5s linear .3s 1 normal forwards;
        }

        &[id='Before'].show{
            animation: showingDown .5s linear .3s 1 normal forwards;
        }
        &[id='Play'].show{
            animation: showingDown .5s linear .2s 1 normal forwards;
        }
        &[id='Next'].show{
            animation: showingDown .5s linear .1s 1 normal forwards;
        }

        &.show:hover{
            transform:scale(1.3) !important;
        }
    }
}

.project-stack-container{
    display: flex;
    flex-direction: column;
    height: 100%;

    .stack-label-container,
    .stack-info-container{
        display: flex;
        flex: 1 1;
        justify-content: center;
    }

    .stack-label-container{
        padding-right: 1px;
    }

    .stack-label-container h3{
        font-family: #{$fBauhausRegular};
        font-size: 24px;

        &.show{
            animation: showingDown .5s linear 0s 1 normal forwards;
        }

        &.remove{
            animation: remove .5s linear 0s 1 normal forwards;
        }
    }

    .stack-info-container{
        flex: 3 1;
        justify-content: space-around;

        img,
        img.rectangle{
            max-height: 70px;

            &.show{
                animation: showingDown .5s linear 0s 1 normal forwards;
            }

            &.remove{
                animation: remove .5s linear 0s 1 normal forwards;
            }
        }

        img.rectangle{
            max-height: 35px;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 500px){
    .stack-label-container{
        padding-right: 14px !important;
    }
    
    .stack-info-container{
        img{
            max-height: 35px !important;
        }
        img.rectangle{
            max-height: 20px !important;
            padding-bottom: 4px;
        }
    }

    .detail-wrapper .project-navigation{
        .navigation-buttons img{
            width: 40px;
            height: 40px;
        }
    }
}

@media screen and (max-width: 1200px){
    .project-desc-container{
        flex-direction: column;

        .project-photo{
            order: 0;
            justify-content: center;

            img{
                max-height: 100% !important;
            }
        }

        .project-information{
            order: 1;
            flex-direction: column !important;

            .description{
                order: 1;

                .project-name{
                    justify-content: center;
                    
                    img{
                        position: initial !important;
                        padding-top: 20px;
                    }
                }
            }
        }
    }

    .project-stack-container{
        order: 2;
    }

    .detail-wrapper .project-navigation{
        order: 3;
        padding-bottom: 0 !important;
        .navigation-buttons{
            width: 100%;
            justify-content: space-around;
            padding: 20px 0;
        }
    }
}

//animations
@keyframes showingDown {
    from{
        opacity: 0;
        transform: translate(0, -20px);
    }
    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes remove {
    from{
        opacity: 1;
        transform: translate(0, 0);
    }

    to{
        opacity: 0;
        transform: translate(0, -20px);
    }

}