.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;


    button{
        background: unset !important;
        border: none !important;
        cursor: unset !important;
    }
}

@keyframes skeleton-loading{
    from{
        background-color: hsl(200, 20%, 70%);
    }
    to{
        background-color: hsl(200, 20%, 95%);
    }
}