//colors
$bordeux: #860029;
// $bordeux: "#151C2E";
$fwhite: #FDFFFC;
$carRed: #C41E3A;
$white: #FFF;
$rBlack: #000505;
$yellow: #F1CA00;
$yellow_variance: #f1cf2b;
$orange: #ECA400;
$textGray: #333333;
$darkBColor: #303030;
$darkHColor: #212121;
$green: #92cc45;
$green_aqua: #529b65;
$blue: #196ba4;
$dark_blue: #364f9d;
$blue_aqua: #357791;
$purple: #703d8d;
$mexican_pink: #c4388f;
$fluorescent_pink: #ce1d64;
//fonts
$fBauhausRegular: 'BauhausRegular';
$fExpletus: 'Expletus Sans';