//colors
$bordeux: "#860029";
// $bordeux: "#151C2E";
$fwhite: '#FDFFFC';
$carRed: '#C41E3A';
$white: '#FFF';
$rBlack: '#000505';
$yellow: '#F1CA00';
$orange: '#ECA400';
$textGray: '#333333';
$darkBColor: '#303030';
$darkHColor: '#212121';

//fonts
$fBauhausRegular: 'BauhausRegular';
$fExpletus: 'Expletus Sans';