//colors
$bordeux: "#860029";
// $bordeux: "#151C2E";
// $white: '#FDFFFC';
$white: '#FFF';
$rBlack: '#000505';
$yellow: '#F1CA00';
$orange: '#ECA400';

//fonts
$fBauhausRegular: 'BauhausRegular';
$fExpletus: 'Expletus Sans';