.App {
  text-align: center;
}


div {
  .hero{
    height: 100vh;
    display: flex;
    
    &.column-centered{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &.end{
      justify-content: flex-end;
      align-items: center;
    }
  }
}