.App {
  text-align: center;
  height: 100%;
}


div {
  .hero{
    height: 100vh;
    display: flex;
    
    &.column-centered{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &.end{
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px){
    .site-header,
    .portfolio-items,
    .about-content,
    .footer-wrapper {
        padding: 0 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1366px){
    .site-header,
    .portfolio-items,
    .about-content,
    .footer-wrapper {
        padding: 0 65px;
    }
}

@media screen and (min-width: 1367px){
    .site-header,
    .portfolio-items,
    .about-content,
    .footer-wrapper {
        padding: 0 100px;
        max-width: auto;
    }
}